* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #15252b;

}

body {
    background: #0f2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(170deg, #0f2027, #203a43, #2c5364);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    min-width: 90vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h3 {
    color: #335b69;
    text-align: center;
}

input {
    border: 0;
    border-bottom: 3px solid #3480a0;
    background-color: transparent;
    margin: 10px;
}

i {
    color: #335b69;
    margin-left: 3px;
}

.container {
    display: flex;
    margin: 15px 50px 20px 50px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.panel {
    width: 290px;
    height: 285px;
    background-color: rgb(214, 221, 221);
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;

}

.links {
    display: flex;
    flex-direction: column;
}

.panel a {
    text-decoration: none;
    color: rgba(22, 136, 107, 0.781);
    margin: 3px;
}

.next {
    background-color: rgb(195, 218, 218);
}

.first {
    border-radius: 10px 0px 0px 10px;
}

.last {
    border-radius: 0px 10px 10px 0px;
}

.hot-head {
    display: flex;
    background-color: rgb(214, 221, 221);
    justify-content: center;
    flex-direction: column;
    align-items: center;


    border-radius: 5px;
    flex-grow: 1;
    max-height: 40px;
    margin: 15px 50px 0 50px;
    padding: 8px;
}

.basic-box {
    width: 265px;
    height: 330px;
    border-radius: 5px;
    background-color: rgb(214, 221, 221);
    margin: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition-property: box-shadow;
    transition-duration: 0.35s;


}

.add-box {
    width: 265px;
    height: 330px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.699);
    margin: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    order: 999;
}

.removable {
    background-color: rgb(184, 212, 212);
}

.removable p {
    word-break: break-all;
}

.basic-box:hover {
    box-shadow: 0px 0px 25px 5px rgba(190, 197, 93, 0.548);
}

.prime:hover {
    box-shadow: 0px 0px 25px 5px rgba(218, 93, 93, 0.548);
}

.form-button {
    border: 2px solid #3480a0;
    background-color: transparent;
    color: #3480a0;
    padding: 6px;
    margin: 29px 7px 7px 7px;
    font-weight: 700;
    border-radius: 3px;
    transition-duration: 0.6s;
}

.task-killer {
    border: 2px solid #ad4126;
    background-color: transparent;
    color: #ad4126;
    padding: 6px;
    margin: 7px 7px 7px 7px;
    font-weight: 700;
    border-radius: 3px;
    transition-duration: 0.6s;
}

.form-button:hover {
    color: rgb(184, 212, 212);
    background-color: #3480a0;
}

.task-killer:hover {
    color: rgb(184, 212, 212);
    background-color: #ad4126;
}

.inside-card {
    text-align: justify;
    padding-right: 6px;
    padding-left: 6px;
}

table,
th,
td {
    border: 2px solid #203a43;
    border-collapse: collapse;
    color: #203a43;
    margin-bottom: 38px;
}

.next-line {
    background-color: rgb(191, 207, 203);
}

.basic-box h5 {
    margin: 15px;
}

/* progress bars */
.warehouse {

    width: 200px;
    padding: 30px;
    color: #203a43;
}

.warehouse li {
    margin: 20px 0;
    list-style: none;
}

.warehouse h6 {
    margin-bottom: 6px;
}

.bar {
    background: rgba(224, 224, 224, 0.836);
    display: block;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    overflow: hidden;
    border-radius: 3px;
}

.bar span {
    height: 8px;
    float: left;
    background: rgba(139, 207, 36, 0.801);
}

.techlist {
    list-style: none;
    margin-bottom: 45px;
}

.techlist li {
    margin: 4px;
}

#card-maker {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.bar:hover {
    box-shadow: 0 0 10px rgba(105, 75, 30, 0.822);
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1433px) {


    .first {
        border-radius: 10px 0px 0px 0px;
    }


    .third {
        border-radius: 0px 10px 0px 0px;
    }

    .last {
        border-radius: 0px 0px 10px 10px;
        background-color: #a6cad6;
    }

    .last h3 {
        text-align: left;
    }

}

@media (max-width:1103px) {


    .first {
        border-radius: 10px 0px 0px 0px;
        background-color: rgb(195, 218, 218);
    }

    .second {
        border-radius: 0px 10px 0px 0px;
        background-color: rgb(214, 221, 221);
    }

    .third {
        border-radius: 0px 0px 0px 10px;

    }

    .last {
        border-radius: 0px 0px 10px 0px;
    }

    .last h3 {
        text-align: center;
    }
}

@media (max-width:760px) {


    .first {
        border-radius: 10px 10px 0px 0px;
    }

    .second {
        border-radius: 0px 0px 0px 0px;
    }

    .third {
        border-radius: 0px 0px 0px 0px;
        background-color: rgb(195, 218, 218);
    }

    .last {
        border-radius: 0px 0px 10px 10px;
        background-color: rgb(214, 221, 221);
    }
}

@media (max-width:500px) {


    section {
        flex-direction: column;
    }

    .hot-head h2 {

        font-size: 17px;
    }

    .hot-head span {
        font-size: 10px;
    }


}

@media (max-width:390px) {
    .hot-head {
        margin: 10;
    }

    .hot-head h2 {

        font-size: 15px;
    }

    .hot-head span {
        font-size: 8px;
    }
}